<div class="p-3 mt-5 header-bg">
    <h2><i class="fa-solid fa-envelope"></i>Contacts</h2>
</div>



<table class="table table-hover mt-4">
    <thead>
        <tr>
            <th class="align-middle">No.</th>
            <th class="align-middle">Name</th>
            <th class="align-middle">Email</th>
            <th class="align-middle">Birthday</th>
            <th class="align-middle">Phone</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1 </td>
            <td>fsaf</td>
            <td>fsafsa</td>
            <td>asas</td>
            <td>asasfafsafas@fadsfadsgsd.com</td>
        </tr>
    </tbody>
</table>